<cbc-modal
  [title]="'memberships.revocation.user.modal.title' | translate"
  [visible]="showModal"
  (cancel)="cancel()"
  (ok)="schedule()"
>
  {{ 'memberships.revocation.user.explanation' | translate }}
  {{
    'memberships.revocation.user.list.count'
      | translate: { nbusers: userIds.length }
  }}
  <h2>{{ 'create-event.frequency.when' | translate }}</h2>
  <form [formGroup]="scheduleForm">
    <p-calendar
      formControlName="scheduleDate"
      [showTime]="true"
      [hourFormat]="'24'"
      [dateFormat]="'dd/mm/yy'"
      [placeholder]="'dd/mm/yyyy'"
      [inline]="true"
    ></p-calendar>
  </form>
</cbc-modal>
