<cbc-horizontal-loader *ngIf="loading"></cbc-horizontal-loader>
<div class="fluid admin page-container">
  <div class="page-header">
    <span class="page-header__title" *ngIf="isDeleteRoute() === false">{{
      'admin.header.text' | translate
    }}</span>
    <span class="page-header__title" *ngIf="isDeleteRoute() === true">{{
      'admin.delete.group' | translate
    }}</span>
    <div class="page-header__actions">
      <a
        data-cy="delete-group"
        class="button button--red"
        [routerLink]="['./delete']"
        *ngIf="isDeleteRoute() === false && canDeleteGroup()"
        >{{ 'label.delete' | translate }}</a
      >
    </div>
  </div>

  <section class="box box--tabs">
    <ul class="header" *ngIf="isDeleteRoute() === false">
      <li>
        <a
          class="tab"
          [class.tab--current]="isGeneralRoute()"
          [routerLink]="['general']"
        >
          <img src="img/settings.png" title="General" alt="general" />
          <span class="tab-text">{{ 'admin.tab.general' | translate }}</span>
        </a>
      </li>
      <li>
        <a
          class="tab"
          [class.tab--current]="isLogosRoute()"
          [routerLink]="['logos']"
        >
          <img
            src="img/frame-landscape.png"
            title="logos"
            alt="logos"
            style="width: 16px"
          />
          <span class="tab-text">{{ 'label.appearance' | translate }}</span>
        </a>
      </li>
      <li>
        <a
          class="tab"
          [class.tab--current]="isSecurityRoute()"
          [routerLink]="['security']"
        >
          <img
            src="img/padlock-818181.png"
            width="17"
            height="17"
            title="Security"
            alt="security"
          />
          <span class="tab-text">{{ 'admin.tab.security' | translate }}</span>
        </a>
      </li>
      <li>
        <a
          class="tab"
          [class.tab--current]="isDocumentLifecycleRoute()"
          [routerLink]="['documents']"
        >
          <img src="img/recycle-symbol.png" title="Lifecycle" alt="lifecycle" />
          <span class="tab-text">{{
            'admin.tab.document.lifecycle' | translate
          }}</span>
        </a>
      </li>
      <li>
        <a
          class="tab"
          [class.tab--current]="isAutoUploadRoute()"
          [routerLink]="['auto-upload']"
        >
          <img src="img/upload.png" title="AutoUpload" alt="autoupload" />
          <span class="tab-text">{{
            'admin.tab.auto.upload' | translate
          }}</span>
        </a>
      </li>
      <li>
        <a
          class="tab"
          [class.tab--current]="isSummaryRoute()"
          [routerLink]="['summary']"
        >
          <img src="img/graph-line-screen.png" title="Graph" alt="graph" />
          <span class="tab-text">{{ 'admin.tab.summary' | translate }}</span>
        </a>
      </li>
      <li *ngIf="featureDisabled">
        <a
          class="tab"
          [class.tab--current]="isNotificationStatusRoute()"
          [routerLink]="['notification-status']"
        >
          <img
            src="img/bell-ringing-818181.png"
            title="Notification Status"
            alt="notification status"
            width="16"
            height="16"
          />
          <span class="tab-text">{{
            'admin.tab.notification.status' | translate
          }}</span>
        </a>
      </li>
      <li *ngIf="featureDisabled">
        <a
          class="tab"
          [class.tab--current]="isPasteNotificationsRoute()"
          [routerLink]="['paste-notifications']"
        >
          <img
            src="img/ring-the-bell-818181.png"
            title="Paste Notifications"
            alt="paste notifications"
            width="20"
            height="20"
          />
          <span class="tab-text">{{
            'admin.tab.paste.notifications' | translate
          }}</span>
        </a>
      </li>
      <li>
        <a
          class="tab"
          [class.tab--current]="isLogRoute()"
          [routerLink]="['log']"
        >
          <img src="img/padnote.png" title="padnote" alt="padnote" />
          <span class="tab-text">{{ 'admin.tab.log.files' | translate }}</span>
        </a>
      </li>
      <li *ngIf="isExternalRepositoryEnabled">
        <a
          class="tab"
          [class.tab--current]="isExternalRepositoryRoute()"
          [routerLink]="['external-repository']"
        >
          <img src="img/padnote.png" title="padnote" alt="padnote" />
          <span class="tab-text">{{
            'admin.tab.external.repositories' | translate
          }}</span>
        </a>
      </li>
    </ul>

    <div class="main">
      <router-outlet></router-outlet>
    </div>
  </section>
</div>
