<h2>{{ 'label.details' | translate }}</h2>
<section *ngIf="user">
  <table style="font-size: 13px">
    <tbody>
      <tr>
        <td class="bold"> {{ 'label.userid' | translate }}</td>
        <td>{{ user.userId }} </td>
      </tr>
      <tr>
        <td class="bold"> {{ 'label.firstname' | translate }}</td>
        <td>{{ user.firstname }} </td>
      </tr>
      <tr>
        <td class="bold"> {{ 'label.lastname' | translate }}</td>
        <td>{{ user.lastname }} </td>
      </tr>
      <tr>
        <td class="bold"> {{ 'label.email' | translate }}</td>
        <td>{{ user.email }} </td>
      </tr>
      <tr *ngIf="user.properties">
        <td class="bold"> {{ 'label.postal.address' | translate }}</td>
        <td>{{ user.properties.address }} </td>
      </tr>
      <tr *ngIf="user.properties">
        <td class="bold"> {{ 'label.phone' | translate }}</td>
        <td>{{ user.properties.phone }} </td>
      </tr>
      <tr *ngIf="user.properties">
        <td class="bold"> {{ 'label.organisation' | translate }}</td>
        <td>{{ user.properties.organisation }} </td>
      </tr>
      <tr *ngIf="user.properties">
        <td class="bold"> {{ 'label.title' | translate }}</td>
        <td>{{ user.properties.title }} </td>
      </tr>
      <tr *ngIf="user.properties">
        <td class="bold"> {{ 'label.description' | translate }}</td>
        <td>{{ user.properties.description }} </td>
      </tr>
      <tr *ngIf="user.properties">
        <td class="bold"> {{ 'label.fax' | translate }}</td>
        <td>{{ user.properties.fax }} </td>
      </tr>
      <tr *ngIf="user.properties">
        <td class="bold"> {{ 'label.url' | translate }}</td>
        <td>{{ user.properties.url }} </td>
      </tr>
    </tbody>
  </table>
</section>
