<!-- MODAL BOX -->
<div
  class="black-overlayer"
  *ngIf="showDialog"
  [class.overlayer-shown]="showDialog"
  [class.overlayer-hidden]="!showDialog"
></div>
<section
  class="modal modal--select-files"
  *ngIf="showDialog"
  [class.modal-shown]="showDialog"
  [class.modal-hidden]="!showDialog"
  style="margin-top: 0"
>
  <a class="close-icon" (click)="cancelWizard()"></a>
  <header>
    <h2 class="title" *ngIf="!profileToEdit">{{
      'label.new.profile' | translate
    }}</h2>
    <h2 class="title" *ngIf="profileToEdit">{{
      'label.edit.profile' | translate
    }}</h2>
  </header>

  <section class="modal-content">
    <form [formGroup]="createProfileForm">
      <div class="field" *ngIf="isGuestOrRegistered()">
        <p class="field--hint">{{
          'permissions.edition.disabled.guest.registered' | translate
        }}</p>
      </div>
      <cbc-multilingual-input
        formControlName="title"
        [label]="'Title'"
        [placeholder]="'Title'"
        [lang]="'EN'"
        [enabled]="!isGuestOrRegistered()"
      ></cbc-multilingual-input>

      <div class="field" *ngIf="isEditable()">
        <label for="name">{{ 'label.information' | translate }}</label>
        <input
          type="range"
          id="information"
          formControlName="information"
          min="0"
          [max]="getMaxInfoPerm()"
          step="1"
        />
        <span>{{
          'permissions.' + getInfPerms(createProfileForm.value.information)
            | translate
        }}</span>
        <cbc-permission-descriptor
          [label]="
            'permissions.' +
            getInfPerms(createProfileForm.value.information) +
            '.help'
          "
        ></cbc-permission-descriptor>
      </div>

      <div class="field" *ngIf="isEditable()">
        <label for="name">{{ 'label.library' | translate }}</label>
        <input
          type="range"
          id="library"
          formControlName="library"
          min="0"
          [max]="getMaxLibPerm()"
          step="1"
        />
        <span>{{
          'permissions.' + getLibPerms(createProfileForm.value.library)
            | translate
        }}</span>
        <cbc-permission-descriptor
          [label]="
            'permissions.' +
            getLibPerms(createProfileForm.value.library) +
            '.help'
          "
        ></cbc-permission-descriptor>
      </div>

      <div class="field" *ngIf="!isGuestOrRegistered() && isEditable()">
        <label for="name">{{ 'label.members' | translate }}</label>
        <input
          type="range"
          id="members"
          formControlName="members"
          min="0"
          [max]="getMaxMembersPerm()"
          step="1"
        />
        <span>{{
          'permissions.' + getMemPerms(createProfileForm.value.members)
            | translate
        }}</span>
        <cbc-permission-descriptor
          [label]="
            'permissions.' +
            getMemPerms(createProfileForm.value.members) +
            '.help'
          "
        ></cbc-permission-descriptor>
      </div>

      <div class="field" *ngIf="isEditable()">
        <label for="name">{{ 'label.agenda' | translate }}</label>
        <input
          type="range"
          id="events"
          formControlName="events"
          min="0"
          [max]="getMaxEventsPerm()"
          step="1"
        />
        <span>{{
          'permissions.' + getEvtPerms(createProfileForm.value.events)
            | translate
        }}</span>
        <cbc-permission-descriptor
          [label]="
            'permissions.' +
            getEvtPerms(createProfileForm.value.events) +
            '.help'
          "
        ></cbc-permission-descriptor>
      </div>

      <div class="field" *ngIf="isEditable()">
        <label for="name">{{ 'label.forums' | translate }}</label>
        <input
          type="range"
          id="newsgroups"
          formControlName="newsgroups"
          min="0"
          [max]="getMaxForumsPerm()"
          step="1"
        />
        <span>{{
          'permissions.' + getNwsPerms(createProfileForm.value.newsgroups)
            | translate
        }}</span>
        <cbc-permission-descriptor
          [label]="
            'permissions.' +
            getNwsPerms(createProfileForm.value.newsgroups) +
            '.help'
          "
        ></cbc-permission-descriptor>
      </div>

      <div class="field" *ngIf="!isEditable()">
        <label for="name">{{ 'label.information' | translate }}</label>
        <p>{{ 'permissions.leader.exception.explanation' | translate }}</p>
      </div>

      <div *ngIf="processing" class="field">
        <label *ngIf="isEdition()"
          >{{ 'label.updating' | translate }}...
          <cbc-spinner></cbc-spinner>
        </label>
        <label *ngIf="!isEdition()"
          >{{ 'label.creating' | translate }}...
          <cbc-spinner></cbc-spinner>
        </label>
      </div>
    </form>
  </section>
  <section class="modal-footer">
    <!-- Buttons -->
    <div *ngIf="!processing" class="buttons-group">
      <a
        class="cta"
        (click)="!createProfileForm.valid ? '' : createOrEditProfile()"
        [class.disabled]="!createProfileForm.valid"
        >{{ getLabel() | translate }}</a
      >
      <a class="button" (click)="cancelWizard()">{{
        'label.cancel' | translate
      }}</a>
    </div>
  </section>
</section>
