/*
.buttons-group {
  position: fixed;
  bottom: 0;
  width: 960px;
  margin-bottom: 0 !important;
  margin-left: auto;
  margin-right: auto;
  left: calc((100% - 960px) / 2);
  background-color: #fff;
  text-align: center;
  margin-top: 15px;
  padding: 15px;
}
*/
.main {
  padding-bottom: 50px !important;
}
