h1 {
  color: #035;
}

form {
  font-size: 12px;
}

.i18n {
  border-bottom: #ccc 1px solid;
}

.secondary-action {
  text-align: right;

  .button {
    margin-top: 10px;
  }
}

.metadata-container {
  position: relative;
  overflow-x: hidden;
  color: #035;

  .main-panel,
  .secondary-panel {
    transition: 200ms;
    transition-timing-function: ease-out;
  }

  .transparent {
    opacity: 0;
  }

  .secondary-panel {
    width: 100%;
    z-index: 10;
    background-color: #fff;
    padding: 0;
    display: none;

    h2 {
      margin-bottom: 25px;
    }

    h2 .button {
      float: right;
    }
  }

  .secondary-panel--show {
    display: block;
  }
}

.keyword-list {
  li {
    margin: 10px 25px;
  }
}

.keyword-inline {
  display: inline-block;

  ul {
    li {
      display: inline;
      margin: 10px;
    }
  }
}
