<section *ngIf="template" class="template">
  <aside class="side-information">
    <span class="label"
      >{{ 'admin.system.message.autoclose' | translate }}:</span
    >
    {{ template.dateClosure | date: 'y MMMM d, H:mm' }}
    <br />
    <span class="label">{{ 'label.level' | translate }}:</span>
    {{ template.level }}
    <br />
    <span class="label">{{ 'label.enabled' | translate }}:</span>
    {{ template.enabled }}
    <br />
    <span class="label"
      >{{ 'admin.system.message.display.time' | translate }}:</span
    >
    {{ template.displayTime }}
  </aside>

  <div class="template-content" [innerHTML]="template.content"> </div>

  <div class="actions">
    <a [routerLink]="['update', template.id]">{{ 'label.edit' | translate }}</a>

    <cbc-inline-delete (deletionConfirmed)="onDelete()"></cbc-inline-delete>

    <span>
      &nbsp;|&nbsp;
      {{ 'admin.system.message.show.in.old' | translate }}
      &nbsp;
      <a (click)="useAsOldMessage()">{{ 'label.apply' | translate }}</a>
    </span>
  </div>
</section>
