<cbc-header (searchPropagated)="filterGroups($event)"></cbc-header>
<cbc-navigator></cbc-navigator>
<cbc-horizontal-loader
  *ngIf="loadingHeaders || loadingCategories || loadingIGs || preparing"
></cbc-horizontal-loader>
<div class="fluid page-container">
  <div class="page-header">
    <span class="page-header__title"
      >{{ 'text.browse.page.title.1' | translate }} <br />{{
        'text.browse.page.title.2' | translate
      }}</span
    >
    <div class="page-header__actions">
      <cbc-reponsive-sub-menu *ngIf="shouldDisplayMenu()">
        <a *ngIf="isAdminOrCircabcAdmin()" [routerLink]="['/admin/headers']">{{
          'label.administer.headers' | translate
        }}</a>
        <a
          *ngIf="isCategoryAdmin() && currentCategory"
          [routerLink]="['/category', currentCategory.id]"
          >{{ 'label.administer.category' | translate }}</a
        >
      </cbc-reponsive-sub-menu>
      <cbc-explorer-dropdown
        *ngIf="isLoggedIn()"
        [currentHeader]="currentHeader"
        [currentCategory]="currentCategory"
      ></cbc-explorer-dropdown>
    </div>
  </div>
  <section class="top-section">
    <div class="breadcrump" *ngIf="isStepCategories() || isStepGroups()">
      <a (click)="reset()">
        <img src="img/icon-dashboard-grey.png" />
      </a>
      <span *ngIf="currentHeader && (isStepCategories() || isStepGroups())">
        &gt;
        <a (click)="listCategories(currentHeader)">{{ currentHeader.name }}</a>
      </span>
      <span *ngIf="currentCategory && isStepGroups()">
        &gt;
        <a (click)="listInterestGroups(currentCategory)">{{
          getCategoryGroupDescription(currentCategory)
        }}</a>
      </span>
    </div>
    <h3 *ngIf="isStepHeaders()">{{ 'explorer.select.header' | translate }}</h3>
    <h3 *ngIf="isStepCategories()">{{
      'explorer.select.category' | translate
    }}</h3>
  </section>
  <section class="grid--container" *ngIf="isStepHeaders()">
    <div
      class="header-category"
      *ngFor="let header of headers"
      (click)="listCategories(header)"
    >
      <div class="logo-container">
        <img [src]="getHeaderImgName(header)" alt="header" />
      </div>
      <div class="link">
        {{ header.name }}
      </div>
    </div>
  </section>
  <section class="grid--container" *ngIf="isStepCategories()">
    <div
      class="header-category"
      *ngFor="let category of categories"
      (click)="listInterestGroups(category)"
    >
      <div class="logo-container">
        <img
          src="img/LOGO_circabc_category-128.png"
          alt="header"
          *ngIf="!hasCategoryLogo(category)"
        />
        <img
          [attr.src]="category.logoRef | cbcDownload | cbcSecure"
          *ngIf="hasCategoryLogo(category)"
        />
      </div>
      <div class="link" [innerHTML]="getCategoryGroupDescription(category)">
      </div>
    </div>
  </section>
  <section *ngIf="isStepGroups()">
    <header *ngIf="currentCategory" class="category--header">
      <div class="logo-container">
        <img
          src="img/LOGO_circabc_category-128.png"
          alt="header"
          *ngIf="!hasModelNodeLogo(currentCategory)"
        />
        <img
          [attr.src]="getLogoRef(currentCategory) | cbcDownload | cbcSecure"
          *ngIf="hasModelNodeLogo(currentCategory)"
        />
      </div>
      <div
        class="title"
        [innerHTML]="getCategoryGroupDescription(currentCategory)"
      >
      </div>
    </header>
    <h3 class="list-groups">{{ 'explorer.list.groups' | translate }}</h3>
    <div *ngFor="let letterKey of getKeysOfGroups()">
      <span class="letter">{{ letterKey }}</span>
      <section class="box box--groups">
        <p *ngIf="getGroupInIndex(letterKey).length === 0" class="empty-list">
          {{ 'label.nothing.to.display' | translate }}
        </p>
        <cbc-group-card
          *ngFor="let ig of getGroupInIndex(letterKey)"
          [group]="ig"
          [counter]="ig.index"
        ></cbc-group-card>
      </section>
    </div>
  </section>
</div>
