<span class="span-label">{{ 'label.show' | translate }}:</span>
<a
  class="step-link"
  (click)="showExpired()"
  [class.selected]="isShowExpired()"
  >{{ 'label.expired.documents' | translate }}</a
>
<a
  class="step-link"
  (click)="showDeleted()"
  [class.selected]="isShowDeleted()"
  >{{ 'label.deleted.documents' | translate }}</a
>

<section *ngIf="isShowDeleted() && groupId">
  <cbc-deleted-items [groupId]="groupId"></cbc-deleted-items>
</section>

<section *ngIf="isShowExpired() && groupId">
  <cbc-expired-items [groupId]="groupId"></cbc-expired-items>
</section>
