<section class="box">
  <div class="index">
    {{ property.index }}
  </div>
  <div class="type">
    {{ property.propertyType }}
  </div>
  {{ 'label.title' | translate }}:
  <cbc-title-tag
    *ngFor="let entry of getTitleAsArray()"
    [entry]="entry"
  ></cbc-title-tag>
  <div *ngIf="isSelection()" class="possibleValues">
    {{ 'label.values' | translate }}:
    <span *ngFor="let val of property.possibleValues">{{ val }}</span>
  </div>
  <div class="actions">
    <a (click)="bubbleDynpropEdit()">{{ 'label.edit' | translate }}</a>
    <a (click)="bubbleDynpropDeleted()">{{ 'label.delete' | translate }}</a>
  </div>
</section>
